<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Loltitle</title>
</head>
<body>
	stuff: 4
	<br />Demo controller
	<a href="/demo/">click me</a>
	<br />Demo redirect
	<a href="/redirect_to_demo_controller.html">click me</a>
	<br />Demo redirect with attributes
	<a href="/redirect_to_demo_controller/redirectme">click me</a>
	<br />Demo thymeleaf+javascript
	<a href="/thymeleaf_javascript_demo.html">click me</a>
	<br />Demo 404
	<a href="/unreachable_page.html">click me</a>
	<br />Demo Error resolving template
	<a href="/thymeleaf_javascript_demo_fake.html">click me</a>
	<br />Demo string instead of page
	<a href="/demo-rest-fake-page">click me</a>
	<br />Demo REST controller
	<a href="/demo-rest">click me</a>
	<br />Demo AJAX + REST controller
	<a href="/ajax_demo.html">click me</a>
	<br />Demo cookies
	<a href="/demo_cookies.html">click me</a>
	<br />Demo resources (classpath)
	<a href="/classpathResourceFile.txt">click me</a>
	<br />Demo session
	<a href="/demo_session-rest">click me</a>
	<br />Demo upload
	<a href="/demo_upload">click me</a>
</body>
</html>